@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    color: #FFFFFF;
    background-color: #000000;
}

header {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #102347 0%, #000000 100%);
}

a, a:visited, a:hover {
    color: unset;
    text-decoration: none;
}